**/*~[0-9]~
**/*~[0-9][0-9]~
**/*~[0-9][0-9][0-9]~
# The above are Genera's non-.sct version numbering system

**/*.fasl
# The above is for SBCL compiled files

# Sometimes I save the slime buffer...
**/\*slime-repl\ sbcl\*
**/.#\*slime-repl\ sbcl\*
